<form #form="ngForm" method="post" autocomplete="off" [formGroup]="formGroup" (submit)="OnSubmit(form)">
    <div class="form-floating mb-3">
        <input class="form-control form-control-lg" type="text" (focusout)="ChangeShowErrorMobile()" (keypress)="ChangeShowErrorMobile()" placeholder="شماره موبایل" formControlName="mobile" maxlength="11"
            [(ngModel)]="model.mobile" id="mobile">
            <label for="mobile">شماره موبایل</label>
        <span class="text-danger" *ngIf="formGroup.invalid&&ShowErrorMobile">{{GetErrorForm('mobile')}}</span>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control form-control-lg" (focusout)="ChangeShowErrorPassword()" (keypress)="ChangeShowErrorPassword()" [type]="ShowPassword?'text':'password'" placeholder="رمز عبور" formControlName='password'
            [(ngModel)]="model.password" id="password">
            <i class="password-icon mdi mdi-24px"
            (click)="ShowPassword = !ShowPassword" [class]="ShowPassword?'mdi-eye':'mdi-eye-off'"></i>
            <label for="password">رمز عبور</label>
        <span class="text-danger" *ngIf="formGroup.invalid&&ShowErrorPassword">{{GetErrorForm('password')}}</span>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control form-control-lg" (focusout)="ChangeShowErrorRePassword()" (keypress)="ChangeShowErrorRePassword()" [type]="ShowRePassword?'text':'password'" placeholder="تکرار رمز عبور"
            formControlName="repassword" id="Repassword">
            <i class="password-icon mdi mdi-24px"
            (click)="ShowRePassword = !ShowRePassword" [class]="ShowRePassword?'mdi-eye':'mdi-eye-off'"></i>
            <label for="Repassword">تکرار رمز عبور</label>
        <span class="text-danger" *ngIf="formGroup.invalid&&ShowErrorRePassword">{{GetErrorForm('repassword')}}</span>
    </div>
    <div>
        <button type="submit" class="btn btn-success" [disabled]="formGroup.invalid">ثبت نام</button>
    </div>
</form>
<app-alert [ParentData]="AlertData" (ChildData)="CloseAlert()" *ngIf="IsAlert"></app-alert>